<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GoogleOAuthClientID</key>
	<string></string>
	<key>GoogleOAuthRedirectScheme</key>
	<string></string>
	<key>GooglePlacesAPIKey</key>
	<string></string>
	<key>OpenAIAPIKey</key>
	<string></string>
	<key>OpenAITextModel</key>
	<string>gpt-5.5</string>
	<key>OpenAIImageModel</key>
	<string>gpt-image-2</string>
</dict>
</plist>
